body {
  .body-background {
    background-color: #ffffff;
    height: 3162px;
    width: 1366px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 33px;
  }

  .logo,
  .menu,
  .button {
    background-color: #e5e5e5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333333;
  }

  .logo {
    width: 200px;
    height: 60px;
    border-radius: 6px;
  }

  .menu {
    flex: 1;
    max-width: 820px;
    height: 34px;
    margin: 0 20px;
    border-radius: 8px;
  }

  .button {
    width: 120px;
    height: 42px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }
  .button:hover {
    background-color: #d5d5d5;
  }
  .content {
    background-color: #e2e2e2;
    width: 585px;
    height: 267px;
    margin: 83px;
    margin-left: 83px;
    margin-right: 0px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .second-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    width: 1366px;
    height: 680px;
  }
  .image {
    background-color: #e2e2e2;
    width: 585px;
    height: 520px;
    margin: 80px;
    margin-left: 30px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .title1 {
    background-color: #e2e2e2;
    width: 600px;
    height: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .item1 {
    background-color: #e2e2e2;
    width: 380px;
    height: 420px;
    margin: 15px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .item2 {
    background-color: #e2e2e2;
    width: 216px;
    height: 300px;
    margin: 15px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .third-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    width: 1366px;
    height: 580px;
  }
  .item3 {
    background-color: #e2e2e2;
    width: 277.5px;
    height: 300px;
    margin: 15px;
    border-radius: 8px;
    font-family: "Be VietNam Pro", Times, serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  .footer {
    width: 100%;
    height: 72px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
